<h3>Products</h3>

<%= form_tag products_path, method: 'get', id: "products_search" do %>
  <div class="input-group mb-3">
    <%= text_field_tag :search, params[:search], class: "form-control col-md-4" %>
    <div class="input-group-append">
      <%= submit_tag "Search", class: "btn btn-outline-secondary"%>
    </div>
  </div>
  <div id="products"><%= render 'products' %></div>
<% end %>
